# ============================================================
# AgaramAi Server Environment Variables
# ============================================================
# Copy this file to .env and fill in your own values.
# NEVER commit the actual .env file to version control.
# ============================================================


PORT=10000

ENCRYPTION_KEY=efc592e6b67f150cd90e78fce3cc30797913da179d1183124139319af61b85ef


JWT_SECRET=517ec2501568b61ff39a7ae57a801a28fd71847fd1f6e4a9fb7c11781bf9ea0e4bee0352fa18af4f6c8e2a011d6e0c031425cbf3f7ee964548805e81c00dddbf2


VITE_API_URL=https://agaramai.onrender.com
