/* Reset default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, form {
  margin: 0;
  padding: 0;
}
/* Set basic styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #0d344d;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
}

nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #aaa;
}

nav .menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s;
}

nav .menu-toggle:hover {
  transform: scale(1.1);
}

main {
  padding: 20px;
}

.top-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  border: #ff6f00 solid 2px;
  opacity: 0.5;
}

.top-icon:hover {
  background-color: #555;
}

section {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

p {
  color: #555;
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  margin-bottom: 15px;
  color: #555;
  list-style-type: disc;
}

ul li {
  margin-bottom: 5px;
}

/* Footer styles */
.footer {
  background-color: #0d344d;
  padding: 20px;
  text-align: center;
  color: #fff;
}
.content {
  flex: 1; /* Equivalent to flex-grow: 1, flex-shrink: 1, and flex-basis: 0 */
  padding: 20px;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
/* Additional custom styles */
form {
  margin-top: 10px;
}

label {
  display: block;
  margin-top: 10px;
  color: #777;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #ff8c00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #ff6f00;
}

/* Additional styles for a super look */
body {
  background-color: #f9f9f9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li a {
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
  color: #fff;
}

footer p {
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    text-align: center;
  }

  nav ul {
    display: none;
  }

  nav.open ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav .menu-toggle {
    display: block;
  }

  main {
    padding-top: 60px;
  }
}
